$color-error: #ce4233;
.list {
    position: relative;
    top: 20px;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.error {
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    font-weight: 900;
    color: $color-error;
    letter-spacing: 0.2em;
}
