

.filter__block {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
.input {
    border: 0;
    width: 400px;
    height: 30px;
    padding: 10px;
}
.sort__list {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    cursor: pointer;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin: 0px !important;
    -webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;
    -webkit-padding-start: 0px !important;
}
